scispacy>=0.5.0
spacy>=3.0
en_core_sci_sm @ https://github.com/allenai/scispacy/releases/download/v0.5.0/en_core_sci_sm-0.5.0.tar.gz
streamlit>=1.0
pandas>=1.2
biopython>=1.78
matplotlib>=3.3
pyvis>=0.1.9.2
openpyxl>=3.0.7
scispacy>=0.5.0  # SciSpacy package
spacy>=3.0  # Required for SciSpacy
en_core_sci_sm @ https://github.com/allenai/scispacy/releases/download/v0.5.0/en_core_sci_sm-0.5.0.tar.gz  # SciSpacy model (small)
